#brief {
  height: 410px;
}

@media (max-width: 577px) {
  #brief {
    height: 480px;
  }
}

@media (max-width: 376px) {
  #brief {
    height: 740px;
  }
}

.block-bottom {
  padding-bottom: 100px;
}

