.splash {
  height: 50vh;
  min-height: 50vh;
}

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 577px) {
    .splash{
        height: 35vh;
        min-height: 35vh;
  }
}

@media (max-width: 380px) {
    .splash {
        height: 25vh;
        min-height: 25vh;
  }
}