<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Books</title>
    <meta name="description" content="This dashboard is designed to monitor events, deaths, and recoveries reported by serveral sources such as WHO and Johns Hopkins University on the n-Cov (Coronavirus). This constantly searches repositories and reviews all countries case studies.">
    <meta name="author" content="Coronavirus">
    <meta name="keywords" content="coronavirus,coronavirus outbreak,coronavirus news,coronavirus update,coronavirus symptoms,coronavirus infection,coronavirus tracker,coronavirus spread,coronavirus china,coronavirus prevention,china coronavirus,what is coronavirus,corona virus,virus,wuhan virus,coronavirus advice,china virus,coronavirus counter,coronavirus vaccine,coronavirus uk,coronavirus in kerala,coronavirus latest,coronavirus treatment,coronavirus live,coronavirus chat, WHO, world health organization">
    <meta property="og:image" content="star.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/News-Cards.css">
    <link rel="stylesheet" href="assets/css/Paralax-Hero-Banner.css">
    <link rel="stylesheet" href="assets/css/Paralax-Hero-Banner-1.css">
    <link rel="stylesheet" href="assets/css/Quote-Card-1.css">
    <link rel="stylesheet" href="assets/css/Quote-Card.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/Video-Parallax-Background-v2.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146361977-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146361977-3');
</script>

<!--
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"lang":"en","askConsentIfCMPNotFound":false,"siteId":1823736,"countryDetection":true,"cookiePolicyId":27564713,"enableCMP":true, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
-->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWRSR2Z');</script>
<!-- End Google Tag Manager -->

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e849281c43e3f0019117eac&product=inline-share-buttons' async='async'></script>

<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e849281c43e3f0019117eac&product=sticky-share-buttons"></script>

<script data-ad-client="ca-pub-7702690633531029" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="addenergyx" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. Please support this project" data-color="#FF813F" data-position="right" data-x_margin="18" data-y_margin="18"></script>

<link href = "health.png"
rel = "icon">
</head>

<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWRSR2Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container-fluid">
           <a class="navbar-brand logo" href="/">                
               <img src="../assets/img/Coronavirus.jpg" alt="Coronavirus Tracker" height="50px">
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tracker/">Tracker</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="map/">Map</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="news">Latest news</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="books">AUDIOBooks</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us">Contact Us</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-center text-info">Audible Audiobooks</h2>
                    <p>Great books we'd recommend for self-development during this hard time.<br>Teaching personal finance and well-being.</p>
                </div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 text-center"><a target="_blank"  href="https://www.amazon.co.uk/gp/product/B002Q0C38Y/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B002Q0C38Y&linkCode=as2&tag=digitaldashbo-21&linkId=65b482103340777ab869413970a1c030"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B002Q0C38Y&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitaldashbo-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=digitaldashbo-21&l=am2&o=2&a=B002Q0C38Y" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>
                            <div class="col-lg-7">
                                <h3>The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change<br></h3>
                                <div class="info"></div>
                                <p>Stephen R. Covey's book,&nbsp;<em>The 7 Habits of Highly Effective People</em>, has been a top seller for the simple reason that it ignores trends and pop psychology for proven principles of fairness, integrity, honesty,
                                    and human dignity. Celebrating its 15th year of helping people solve personal and professional problems, this special anniversary edition includes a new foreword and afterword written by Covey that explore whether the
                                    7 Habits are still relevant and answer some of the most common questions he has received over the past 15 years.<br></p><a class="btn btn-outline-primary btn-sm" role="button" href="https://www.amazon.co.uk/gp/product/B002Q0C38Y/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B002Q0C38Y&amp;linkCode=as2&amp;tag=digitaldashbo-21&amp;linkId=a113b364cfe44fdc64abf8219f048d33"
                                    target="_blank">Read More</a></div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 text-center"><a target="_blank"  href="https://www.amazon.co.uk/gp/product/B07KKMM4JX/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07KKMM4JX&linkCode=as2&tag=digitaldashbo-21&linkId=d04da79a078da810313faca05387fc68"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07KKMM4JX&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitaldashbo-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=digitaldashbo-21&l=am2&o=2&a=B07KKMM4JX" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>
                            <div class="col-lg-7">
                                <h3>Can't Hurt Me: Master Your Mind and Defy the Odds<br></h3>
                                <div class="info"></div>
                                <p>For David Goggins, childhood was a nightmare - poverty, prejudice, and physical abuse colored his days and haunted his nights. But through self-discipline, mental toughness, and hard work, Goggins transformed himself from
                                    a depressed, overweight young man with no future into a US Armed Forces icon and one of the world's top endurance athletes. The only man in history to complete elite training as a Navy SEAL, Army Ranger, and Air Force
                                    Tactical Air Controller, he went on to set records in numerous endurance events, inspiring&nbsp;<em>Outside</em>&nbsp;magazine to name him The Fittest (Real) Man in America.&nbsp;In&nbsp;<em>Can't Hurt Me</em>, he shares
                                    his astonishing life story and reveals that most of us tap into only 40% of our capabilities. Goggins calls this The 40% Rule, and his story illuminates a path that anyone can follow to push past pain, demolish fear,
                                    and reach their full potential.&nbsp;An annotated edition of&nbsp;<em>Can't Hurt Me</em>, offering over two hours of bonus content featuring deeper insights and never-before-told stories shared by David.&nbsp;<br></p>
                                <a
                                    class="btn btn-outline-primary btn-sm" role="button" href="https://www.amazon.co.uk/gp/product/B07KKMM4JX/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B07KKMM4JX&amp;linkCode=as2&amp;tag=digitaldashbo-21&amp;linkId=9250577bb73d3871d098761f3f3c248a"
                                    target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 offset-xl-0 text-center"><a target="_blank"  href="https://www.amazon.co.uk/gp/product/B0065LN8DE/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B0065LN8DE&linkCode=as2&tag=digitaldashbo-21&linkId=896afd90a5d31adf8d706b9958874012"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B0065LN8DE&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitaldashbo-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=digitaldashbo-21&l=am2&o=2&a=B0065LN8DE" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>
                            <div class="col-lg-7">
                                <h3>The 4-Hour Work Week<br></h3>
                                <div class="info"></div>
                                <p>Unfortunately during this time some of us may lose our jobs and live&nbsp;<br>livelihood due to the virus.<br><br>In this fascinating book, Timothy Ferriss details his road to financial success and the steps he took along
                                    the way. His plan is simple to follow, easy to apply and relevant for anyone looking to make a change.Forget the old concept of retirement and the rest of the deferred-life plan - there is no need to wait and every
                                    reason not to, especially in unpredictable economic times. Whether your dream is escaping the rat race, experiencing high-end world travel, earning a monthly five-figure income with zero management, or just living more
                                    and working less, this book is the blueprint.<br></p><a class="btn btn-outline-primary btn-sm" role="button" href="https://www.amazon.co.uk/gp/product/B0065LN8DE/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B0065LN8DE&amp;linkCode=as2&amp;tag=digitaldashbo-21&amp;linkId=7cf654b4163863003972ba639df07f5d"
                                    target="_blank">Read More</a></div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 offset-xl-0 text-center"><a target="_blank"  href="https://www.amazon.co.uk/gp/product/B07QQ3C872/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07QQ3C872&linkCode=as2&tag=digitaldashbo-21&linkId=6cd9e64af592a0963aca9bb981527122"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07QQ3C872&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitaldashbo-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=digitaldashbo-21&l=am2&o=2&a=B07QQ3C872" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>
                            <div class="col-lg-7">
                                <h3>I Will Teach You to Be Rich: No Guilt. No Excuses. No B.S. Just a 6-Week Program That Works (Second Edition)<br></h3>
                                <div class="info"></div>
                                <p>This isn't typical advice from a money expert. In this completely updated second edition, Ramit teaches you how to choose long-term investments and the right bank accounts. With his characteristic no-BS perspective, he
                                    shows how to squeeze every hidden benefit out of your credit cards. Crush debt and student loans. Learn the exact words to negotiate a raise. Set up an automatic payment system and get on with your life. Plus, new material
                                    on overcoming psychological barriers, love and money, new investments options, and real audience stories of how applying Ramit's principles led to a rich life.&nbsp;<br></p><a class="btn btn-outline-primary btn-sm"
                                    role="button" href="https://www.amazon.co.uk/gp/product/B07QQ3C872/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B07QQ3C872&amp;linkCode=as2&amp;tag=digitaldashbo-21&amp;linkId=412f9f3969b32973260d6c5b61e872d6"
                                    target="_blank">Read More</a></div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 offset-xl-0 text-center"><a target="_blank"  href="https://www.amazon.co.uk/gp/product/B002SQ59IC/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B002SQ59IC&linkCode=as2&tag=digitaldashbo-21&linkId=fa3ebf4f6d5273dd4fe286c7a8022553"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B002SQ59IC&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitaldashbo-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=digitaldashbo-21&l=am2&o=2&a=B002SQ59IC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>
                            <div class="col-lg-7">
                                <h3>The Total Money Makeover: A Proven Plan for Financial Fitness<br></h3>
                                <div class="info"></div>
                                <p>The Total Money Makeover: A Proven Plan for Financial Fitness is a best-selling personal finance book written by Dave Ramsey that was first published in 2003. Teaches the best way to get and stay debt free using the 7 baby
                                    steps approach:<br></p>
                                <ul>
                                    <li>Save $1,000 Fast<br></li>
                                    <li>The Debt Snowball<br></li>
                                    <li>Finish the Emergency Fund<br></li>
                                    <li>Maximize Retirement<br></li>
                                    <li>College Funding<br></li>
                                    <li>Pay off the Home<br></li>
                                    <li>Build Wealth<br></li>
                                </ul><a class="btn btn-outline-primary btn-sm" role="button" href="https://www.amazon.co.uk/gp/product/B002SQ59IC/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B002SQ59IC&amp;linkCode=as2&amp;tag=digitaldashbo-21&amp;linkId=37b1d2ac785b9ec4ca0e9f95ab3d8fac"
                                    target="_blank">Read More</a></div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 offset-xl-0 text-center"><a target="_blank"  href="https://www.amazon.co.uk/gp/product/B07CYNR4HF/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07CYNR4HF&linkCode=as2&tag=digitaldashbo-21&linkId=e168ffa8027a7d81b856585dda4d0b5e"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07CYNR4HF&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitaldashbo-21" ></a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=digitaldashbo-21&l=am2&o=2&a=B07CYNR4HF" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>
                            <div class="col-lg-7">
                                <h3>The Book of Why: The New Science of Cause and Effect<br></h3>
                                <div class="info"></div>
                                <p><strong>"Correlation does not imply causation".</strong> This mantra has been invoked by scientists for decades and has led to a virtual prohibition on causal talk. But today, that taboo is dead. The causal revolution,
                                    sparked by Judea Pearl and his colleagues, has cut through a century of confusion and placed causality - the study of cause and effect - on a firm scientific basis. His work explains how we can know easy things, like
                                    whether it was rain or a sprinkler that made a sidewalk wet, and how to answer hard questions, like whether a drug cured an illness. Pearl's work enables us to know not just whether one thing causes another: It lets
                                    us explore the world that is and the worlds that could have been. It shows us the essence of human thought and key to artificial intelligence. Anyone who wants to understand either needs&nbsp;<em>The Book of Why</em>.<br></p>
                                <a
                                    class="btn btn-outline-primary btn-sm" role="button" href="https://www.amazon.co.uk/gp/product/B07CYNR4HF/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B07CYNR4HF&amp;linkCode=as2&amp;tag=digitaldashbo-21&amp;linkId=4bf98fc3078fe6db2461b7750fd3b469"
                                    target="_blank">Read More</a>
                            </div>
                            <div class="col">
                                <div style="height: 40px;padding-top: 38px;">
                                    <p style="font-size: 11px;">We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="tracker/">Dashboard</a></li>
                        <li><a href="news">News</a></li>
                        <li><a href="map/">Map</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="contact-us">Contact Us &#9993;</a></li>
                    </ul>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>2020 © Developed with <span style="color: red">&#x2764;</span> by <a href="https://github.com/addenergyx" style="color: deepskyblue">David Adeniji</a></p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Paralax-Hero-Banner.js"></script>
    <script src="assets/js/Smooth-Scrool-1.js"></script>
    <script src="assets/js/Smooth-Scrool.js"></script>
    <script src="assets/js/Video-Parallax-Background-v2.js"></script>
</body>

</html>