<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>News - COVID-19</title>
    <meta name="description" content="This dashboard is designed to monitor events, deaths, and recoveries reported by serveral sources such as WHO and Johns Hopkins University on the n-Cov (Coronavirus). This constantly searches repositories and reviews all countries case studies.">
    <meta name="author" content="Coronavirus">
    <meta name="keywords" content="coronavirus,coronavirus outbreak,coronavirus news,coronavirus update,coronavirus symptoms,coronavirus infection,coronavirus tracker,coronavirus spread,coronavirus china,coronavirus prevention,china coronavirus,what is coronavirus,corona virus,virus,wuhan virus,coronavirus advice,china virus,coronavirus counter,coronavirus vaccine,coronavirus uk,coronavirus in kerala,coronavirus latest,coronavirus treatment,coronavirus live,coronavirus chat, WHO, world health organization">
    <meta property="og:image" content="star.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/health.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/News-Cards.css">
    <link rel="stylesheet" href="assets/css/Paralax-Hero-Banner.css">
    <link rel="stylesheet" href="assets/css/Paralax-Hero-Banner-1.css">
    <link rel="stylesheet" href="assets/css/Quote-Card-1.css">
    <link rel="stylesheet" href="assets/css/Quote-Card.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/Video-Parallax-Background-v2.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146361977-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146361977-3');
</script>

<!--
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"lang":"en","askConsentIfCMPNotFound":false,"siteId":1823736,"countryDetection":true,"cookiePolicyId":27564713,"enableCMP":true, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
-->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWRSR2Z');</script>
<!-- End Google Tag Manager -->

<script data-ad-client="ca-pub-7702690633531029" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e849281c43e3f0019117eac&product=inline-share-buttons' async='async'></script>

<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e849281c43e3f0019117eac&product=sticky-share-buttons"></script>

<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="addenergyx" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. Please support this project" data-color="#FF813F" data-position="right" data-x_margin="18" data-y_margin="18"></script>

<link href = "health.png"
rel = "icon">
</head>

<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWRSR2Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container-fluid"><a class="navbar-brand logo" href="home">
        <img src="../assets/img/Coronavirus.jpg" alt="Coronavirus Tracker" height="50px">
</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="home">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tracker/">Tracker</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="map/">Map</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="news">Latest news</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="books">AUDIOBooks</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us">Contact Us</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Latest News</h2>
                    <p>Comprehensive up-to-date news coverage on COVID-19, aggregated from sources all over the world by <a href="https://newsapi.org/"><strong>NEWS API</strong></a><br></p>
                </div>
                
                <div class="form-group">
                    <form id="countries" name="countries" method="post" action="{{ url_for('news') }}">
                        <select name="countrys" id="countrys" onchange="this.form.submit()">
                            {% for country in countries %}
                                {% if selected_country == country %}
                                    <option value= "{{country}}" selected>{{country}}</option>
                                {% else %}
                                    <option value= "{{country}}">{{country}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </div>
                
                <div class="block-content">
                   
                    {% if newsa.empty %}
                        <p style="align-content: center; text-align: center"> Sorry there is currently no news available for {{selected_country}}.&nbsp;Please try again later</p>
                    {% endif %}
                    
                    {% for key,value in newsa.iterrows() %}
                    <div class="clean-blog-post">
                        <div class="row news-tile" onclick="window.open('{{ value['Url'] }}','mywindow');">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="{{ value['urlToImage'] }}"></div>
                            <div class="col-lg-7">
                                <h3>{{ value['Title'] }}</h3>
                                <div class="info"><span class="text-muted">{{value['Date']}}&nbsp;</span> </div>
                                <p>{{ value['Description'] }}</p><a class="btn btn-outline-primary btn-sm" role="button" href="{{ value['Url'] }}" target="_blank">Read More</a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="home">Home</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="tracker/">Dashboard</a></li>
                        <li><a href="news">News</a></li>
                        <li><a href="map/">Map</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="contact-us">Contact Us &#9993;</a></li>
                    </ul>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>2020 © Developed with <span style="color: red">&#x2764;</span> by <a href="https://github.com/addenergyx" style="color: deepskyblue">David Adeniji</a></p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Paralax-Hero-Banner.js"></script>
    <script src="assets/js/Smooth-Scrool-1.js"></script>
    <script src="assets/js/Smooth-Scrool.js"></script>
    <script src="assets/js/Video-Parallax-Background-v2.js"></script>
</body>

</html>